@font-face {
  font-family: Anton;
  src: url("../src/assets/fonts/Anton-Regular.ttf");
}

@import "tailwindcss";

body {
  background-color: #2e2e2e;
}

@theme {
  --color-maingrey-800: oklch(0.3012 0 0);
  --color-maingrey-600: oklch(0.4276 0 0);
  --color-maingrey-300: oklch(0.6201 0 0);
  --color-brightred-600: oklch(0.6104 0.2276 27.68);
  --color-medorange-400: oklch(0.7194 0.1705 53.43);
  --color-aqua-400: oklch(0.895 0.1651 171.61);
  --darkerblue-700: oklch(0.4744 0.2794 267.47);
  --font-anton: Anton, "sans-serif";
}
